
/* base styles*/
*,*:before, *:after{box-sizing:border-box;outline:none;}
*,body,html{-webkit-text-size-adjust: none;-webkit-appearance: none;max-height: 9001em;}
html{height:100%;}
body{min-height:100%;width:100%;min-width:320px;font-family: PTSans, arial,sans-serif;background:#fff;color:#3d3d3d;position:relative;font-size: 15px;line-height: 1; }
img{vertical-align:bottom;border:0;max-width:100%;}
.mbox{max-width:1290px;width:100%;margin:0 auto;position:relative;z-index:1;}
.mbox:after{content:"";clear:both;font-size:1px;line-height:1px;height:0;overflow:hidden;display:block;}

.footer{bottom:0;left:0;width:100%;z-index:2;overflow:hidden;position: fixed;}

input, textarea{
    &::-webkit-input-placeholder {color:#212121;}
    &:-moz-placeholder {color:#212121;opacity:1;}
    &::-moz-placeholder {color:#212121;opacity:1;}
    &:-ms-input-placeholder {color:#212121;}
}

/*End Layout*/

/*fonts*/
@mixin font-face($style-name, $file:$style-name, $weight:normal, $style:normal) {
    $filepath: "/fonts/" + $file;
    @font-face {
        font-family: quote($style-name);
        src: url($filepath + ".eot");
        src: url($filepath + ".eot?#iefix") format('embedded-opentype'),
        url($filepath + ".woff") format('woff'),
        url($filepath + ".ttf")  format('truetype'),
        url($filepath + ".svg#" + $style-name + "") format('svg');
        font-weight: $weight;
        font-style: $style;
    }
}

//  example -> @include font-face('PFDinTextPro', 'PFDinTextPro-Bold', 700, italic);

@include font-face('PTSans', 'pt_sans-bold', 700);
@include font-face('PTSans', 'pt_sans-bolditalic', 700, italic);
@include font-face('PTSans', 'pt_sans-regular', 400);
@include font-face('RobotoSlab', 'robotoslab-regular', 400);
@include font-face('PTSans', 'pt_sans-italic', 400, italic);
@include font-face('Fira', 'firasansextracondensed-bold', 700);

h1 {font-size: 111px; color: #fff; font-family: 'Fira', Arial, sans-serif ;}
h2 {font-size: 240px; color: #fff; font-family: 'Fira', Arial, sans-serif ;}
/*/fonts*/

.screen-first {width: 100vw; height: 100vh; background: linear-gradient(to right, #eed0b2, #da4918);}
.button {padding: 18px 16px 11px 16px; font-weight: 700; font-size: 20px; color: #424652; border-radius: 4px; border: 3px solid #d14c28; cursor: pointer;
    &:hover {text-decoration: none;}
}
a {color: #d14c28;}
a:hover {text-decoration: none;}

.screen { display: flex; position: relative; flex-direction: column;
    &__left { width: 40%;}
    &__baba {overflow: visible; position: absolute; left: -180px;  top: 132px; z-index: 10;
        img { }
    }
    &__right {    width: 60%; padding: 6px 27px;
        h1 {font-weight: 600; line-height: 100px;}
        p {font-size: 20px; font-weight: 700; color: #fff; line-height: 28px; padding-left: 2px; margin-bottom: 15px;}
    }
    &__slide {display: flex; flex-direction: column; justify-content: flex-start;  max-width: 260px; margin: 0 10px;
        a {color: #fff; display: inline-block; line-height: 21px;}
        p {    font-size: 15px; margin: -1px 0 -3px; padding-top: 8px; color: #fff;}
        &--top {background-color: rgba(255,255,255, 0.1);  border-top-right-radius: 4px; border-top-left-radius: 4px; margin-bottom: 1px; padding: 14px 18px; display: flex; flex-direction: column; width: 100%;
            a:hover {text-decoration: none;}
        }
        &--bot {background-color: rgba(255,255,255, 0.1);border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; padding: 14px 18px; display: flex; width: 100%;
            a {    line-height: 16px;}
            a:hover {   text-decoration: none;}
        }
    }
    &__slider-place { position: absolute; bottom: 80px; right: 10px;}
    &__down {     margin-top: 194px; display: flex; align-items: center;  justify-content: center; }
    &__wheel {    margin-right: 12px;  padding-left: 132px; }
    &__go-text {color: #fff;}
    &__all-top {display: flex;}
}

.footer {background-color: #231f20; height: 50px;
    &__logo {width: 142px; display: flex; justify-content: flex-end;}
    &__logo-box {display: flex; justify-content: center; align-items: center; width: 34px; }
    &__menu {display: flex; align-items: center; justify-content: space-between; height: 50px; }
    &__list {
        ul {list-style-type: none; display: flex; padding: 0;}
        li {padding-right: 40px;}
        a { color: #fff; transition: all 0.2s;}
        a:hover { text-decoration: none; }
    }
    &__socials { display: flex; justify-content: space-between; width: 160px;
        a {opacity: 0.5; transition: all 0.2s;}
        a:hover {opacity: 1;}
    }
    &__lang { display: flex; align-items: center; margin-right: 55px;
      a{color: #fff; opacity: 0.5; transition: all 0.2s; white-space: nowrap;}
      a:hover{color: #fff; opacity: 1;}
    }
    &__soclang {width: 466px; display: flex; justify-content: space-between;}
}

.promo { background-color: #e8e9eb;
    &__header { position: fixed; z-index: -3;
        h2 {color: #424652; margin: 0; letter-spacing: 9px;}
    }
    &__baba {     position: absolute; top: 119px; left: -14px; z-index: 0;}
    &__torso {display: flex; justify-content: flex-end; padding: 0 35px;}
    &__right { width: 790px;  padding-top: 204px;}
    &__apps {margin: 13px 0px 22px; width: 770px;}
    &__app {    background-color: #fff; width: 65.5%;  padding: 15px; border-radius: 4px;
        p {font-size: 20px; color:#424652; font-weight: 700; margin: 0; padding: 5px 5px;}
        &--apple {margin-left: 25px; }
        &--google {margin-right: 26px; }
    }
    &__aplicates { display: flex; align-items: center; justify-content: space-between; padding: 22px 30px;}
    &__row {    display: flex;  align-items: flex-end; width: 100%; margin: 13px -10px 25px;}
    &__product {border-radius: 4px; display: flex; flex-direction: column; justify-content: space-between; align-items: flex-start; position: relative; width: 243px; margin: 0 10px;
        div {position: absolute; top: 21px; left: 21px;
            a {color: #d14c28;}
            a:hover {text-decoration: none; }
        }
        p {color: #424652; font-size: 20px; font-weight: 700; margin: 0; margin-bottom: 8px;}
        &>a {color: #d14c28; position: absolute; bottom: 19px; left: 21px;}
        &>a:hover {text-decoration: none;}
        img {z-index: -1; border-radius: 4px;}
        &--big {width: 508px;}
    }
    &__button-place { display: flex; align-items: center; justify-content: center; padding-right: 105px; margin-bottom: 25px;}
    &__button {margin-top: -2px;}
}

.news {background-color: #e8e9eb;
    &__row {min-height: 388px; margin-bottom: 45px; margin-left: -10px;
        &--vid {height: auto;}
    }
    &__img-large {border-radius: 4px;}
    &__img-little {display: inline-block; padding: 0;}
    &__sensation {padding-right: 10px; line-height: 21px;}
    &__baba {top: 124px; left: -5px;}
    &__block {  display: flex; flex-direction: column; border-radius: 4px; justify-content: space-between; align-items: flex-start; position: relative; width: 243px; margin: 0 10px; align-self: flex-start;
        &--down {align-self: flex-end;}
        p {margin: 8px 0;}
        &--big {display: flex; flex-direction: column; width: 508px;}
    }
    &__journal { background-color: #fff; border-radius: 4px; padding: 24px 10px 10px 10px; text-align: center; position: relative; box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2); text-decoration: none; cursor: pointer; display: flex; flex-direction: column; width: 100%;
        span {font-size: 20px; color: #424652; font-weight: 700; line-height: 27px; margin-bottom: 5px; text-decoration: underline; padding: 0 25px;}
        img {    margin-top: 10px; }
        p {font-family: 'RobotoSlab', Arial, sans-serif; color: rgb(153, 153, 153);font-size: 15px; margin-top: 12px; margin-bottom: 15px;}
        &:before {left: 50%; transform: translateX(-50%); content: ''; display: block; width: 90%; height: 80%; z-index: -1; position: absolute; background-color: #fff; bottom: -10px; border-radius: 4px; box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);}
        &:after {left: 50%;transform: translateX(-50%); content: ''; display: block; width: 80%; height: 80%; z-index: -2; position: absolute; background-color: #fff; bottom: -20px; border-radius: 4px; box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);}
        &:hover {
            span { text-decoration: none; }
        }
    }
    &__source {display: inline-block;}
    &__img-box {position: relative; margin-bottom: 12px;}
    &__hot {position: absolute; bottom: 5px; left: -6px;}
    &__video {border-radius: 4px; width: 100%; height: 370px; margin-bottom: 18px;}
}


.media { background-color: #e8e9eb;
    &__header {width: 100%; max-width: 1290px; }
    &__baba {right: 68px; left: auto; top: 50px;}
    &__torso {justify-content: flex-start; padding: 0 8px;}
    &__zagolovok {font-size: 22px; color: #424652; font-weight: 700; display: inline-block; margin-bottom: 16px;}
    &__right {padding-top: 252px;}
    &__intro {display: flex; flex-wrap: wrap; margin-bottom: 15px;}
    &__img-box { position: relative;
        a { background-color: #424652;  position: absolute; left: 10px; bottom: 10px;  padding: 6px 7px 3px 5px;  -webkit-border-radius: 4px;  -moz-border-radius: 4px; border-radius: 4px;}
    }
    &__all {display: flex; flex-wrap: wrap; border-bottom: 1px solid #d0d1d3; width: 507px;}
    &__row {    width: 100%; display: flex; justify-content: space-between; margin-bottom: 8px;  }
    &__gather {display: flex;}
    &__count {color: #999999; margin-left: 7px;}
    &__songs {background-color: #fff; display: flex; flex-direction: column; border-radius: 4px; align-items: center;padding: 20px 0; align-self: flex-end; width: 508px;}
    &__tracks {display: flex; flex-direction: column; justify-content: space-between; width: 100%; padding: 15px 20px;}
    &__track {margin: 5px 0; background-color: #f3f4f5; border-radius: 4px; display: flex; align-items: center; width: 100%;
        span {color: #afafb0; margin-left: 8px;}
    }
    &__place { margin: 17px 0px 20px;
        &--right {justify-content: flex-end; padding: 0px 18px 0 18px; margin: 17px 0px 20px;}
    }
    &__play {height: 30px; width: 30px; border-radius: 50%; border: none; position: relative; margin: 10px; background-color: #93959b; transition: all 0.2s;
        &:after {content: ''; display: block;  position: absolute; border: 5px solid transparent; border-left: 10px solid #fff; border-radius: 3px; top: 50%; left: 50%; transform: translate(-25%, -50%);}
        &:hover {background-color: #333641; }
        &.active {background-color: #d14c28;
            &:after {content: ''; display: block; width: 10px; height: 10px; border: 3px solid #fff; border-top: none; border-bottom: none; border-radius: 0;  position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
        }
    }
    &__track-img {max-width: 50px; max-height: 50px; border-top-left-radius: 4px; border-bottom-left-radius: 4px;
        img {object-fit: cover; border-top-left-radius: 4px; border-bottom-left-radius: 4px;}
    }
    &__video {display: flex; flex-direction: column; justify-content: space-between; position: relative; }
    &__vid-body {position: absolute; width: 100%; height: 100%; display: flex; justify-content: space-between; flex-direction: column; align-items: center; padding: 20px;}
    &__vid-head {color: #fff; font-size: 22px; font-weight: 700;}
}





















@media screen and (max-width: 1120px){
    .course-list__time--small {width: 100%;}
}