    <div class="mbox">
        <div class="screen">
            <div class="screen__all-top">
                <div class="screen__left">
                    <div class="screen__baba">
                        <img src="../images/baba.png" alt="">
                    </div>
                </div>
                <div class="screen__right">
                    <h1>Добро пожаловать <br> к бабушке Яге</h1>
                    <p>Последние обновления</p>

                </div>
                <div class="screen__slider-place">
                    <div class="mbox">
                        <div class="screen__slider js-screen-slider">
                            <div>
                                <div class="screen__slide">
                                    <div class="screen__slide--top">
                                        <a href="#">Жителей Екатеринбурга шокировала Баба Яга в ступе</a>
                                        <p>8 февраля</p>
                                    </div>
                                    <div class="screen__slide--bot">
                                        <a href="#">Новости</a>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="screen__slide">
                                    <div class="screen__slide--top">
                                        <a href="#">Теперь мы шьем еще и прикольные толстовки</a>
                                        <p>4 февраля</p>
                                    </div>
                                    <div class="screen__slide--bot">
                                        <a href="#">Промо</a>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="screen__slide">
                                    <div class="screen__slide--top">
                                        <a href="#">Новая выставка «Артмо»</a>
                                        <p>1 февраля</p>
                                    </div>
                                    <div class="screen__slide--bot">
                                        <a href="#">Промо</a>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="screen__slide">
                                    <div class="screen__slide--top">
                                        <a href="#">Жителей Екатеринбурга шокировала Баба Яга в ступе</a>
                                        <p>8 февраля</p>
                                    </div>
                                    <div class="screen__slide--bot">
                                        <a href="#">Новости</a>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="screen__slide">
                                    <div class="screen__slide--top">
                                        <a href="#">Теперь мы шьем еще и прикольные толстовки</a>
                                        <p>4 февраля</p>
                                    </div>
                                    <div class="screen__slide--bot">
                                        <a href="#">Промо</a>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="screen__slide">
                                    <div class="screen__slide--top">
                                        <a href="#">Теперь мы шьем еще и прикольные толстовки</a>
                                        <p>4 февраля</p>
                                    </div>
                                    <div class="screen__slide--bot">
                                        <a href="#">Промо</a>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="screen__slide">
                                    <div class="screen__slide--top">
                                        <a href="#">Теперь мы шьем еще и прикольные толстовки</a>
                                        <p>4 февраля</p>
                                    </div>
                                    <div class="screen__slide--bot">
                                        <a href="#">Промо</a>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="screen__slide">
                                    <div class="screen__slide--top">
                                        <a href="#">Теперь мы шьем еще и прикольные толстовки</a>
                                        <p>4 февраля</p>
                                    </div>
                                    <div class="screen__slide--bot">
                                        <a href="#">Промо</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="screen__down">
                <div class="screen__wheel">
                    <img src="../images/scroll.png" alt="">
                </div>
                <p class="screen__go-text">Начни путешествие </p>
            </div>
        </div>
    </div>