<!-- FOOTER -->
<div class="footer_placeholder"></div>
<footer class="footer">
    <div class="mbox">
        <div class="footer__menu">
            <div class="footer__logo">
                <div class="footer__logo-box">
                    <img src="../images/logo.png" alt="logo">
                </div>
            </div>
            <div class="footer__list">
                <ul>
                    <li><a href="#">Новости</a></li>
                    <li><a href="#">Медиа</a></li>
                    <li><a href="#">Промо</a></li>
                    <li><a href="#">Арт</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>
            </div>
            <div class="footer__soclang">
                <div class="footer__socials">
                    <a href="#"><img src="../images/vk.png" alt="vk"></a>
                    <a href="#"><img src="../images/you.png" alt="vk"></a>
                    <a href="#"><img src="../images/face.png" alt="vk"></a>
                    <a href="#"><img src="../images/insta.png" alt="vk"></a>
                </div>
                <div class="footer__lang">
                    <a href="#">In english</a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- FOOTER -->
<script>
    var revision = 130917;    // версия спрайта (текущая дата)
</script>
<link rel="stylesheet" href="css/jquery.fancybox.min.css">
<link rel="stylesheet" href="css/formstyler.css">
<link rel="stylesheet" href="css/normalize.css">
<link rel="stylesheet" href="css/slick-theme.css">
<link rel="stylesheet" href="css/slick.css">
<link rel="stylesheet" href="css/develop.css">
<!-- SCRIPTS -->
<script        src="https://code.jquery.com/jquery-3.1.1.min.js"        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="        crossorigin="anonymous"></script>
<script type="text/javascript" src="js/validate_script.js" ></script>
<!-- build:js -->
<script type="text/javascript" src="js/plagins/device.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.fancybox.min.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.formstyler.min.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.validate.min.js" ></script>
<script type="text/javascript" src="js/plagins/maskInput.js" ></script>
<script type="text/javascript" src="js/plagins/slick.js" ></script>
<script type="text/javascript" src="js/plagins/object-fit-cover.js" ></script>
<script type="text/javascript" src="js/basic_scripts.js" ></script>
<script type="text/javascript" src="js/develop.js" ></script>

<!-- endbuild -->

<!-- /SCRIPTS -->
