<div class="new-inn gallery">
    <div class="mbox mbox--inn">
        <div class="gallery__slider-wrap">
            <div class="gallery__slider js-gallery-slider">
                <div class="class__slide-place">
                    <div class="gallery__slide">
                        <div class="gallery__image">
                            <img src="../images/gallery-1.jpg" alt="">
                        </div>
                        <div class="gallery__source">
                            <img src="../images/instagramm.png" alt="" class="gallery__source-img">
                            <a href="#" class="gallery__source-where">Смотреть в Instagram</a>
                        </div>
                    </div>
                </div>
                <div class="class__slide-place">
                    <div class="gallery__slide">
                        <div class="gallery__image">
                            <img src="../images/gallery-1.jpg" alt="">
                        </div>
                        <div class="gallery__source">
                            <img src="../images/instagramm.png" alt="" class="gallery__source-img">
                            <a href="#" class="gallery__source-where">Смотреть в Instagram</a>
                        </div>
                    </div>
                </div>
                <div class="class__slide-place">
                    <div class="gallery__slide">
                        <div class="gallery__image">
                            <img src="../images/gallery-1.jpg" alt="">
                        </div>
                        <div class="gallery__source">
                            <img src="../images/instagramm.png" alt="" class="gallery__source-img">
                            <a href="#" class="gallery__source-where">Смотреть в Instagram</a>
                        </div>
                    </div>
                </div>
                <div class="class__slide-place">
                    <div class="gallery__slide">
                        <div class="gallery__image">
                            <img src="../images/gallery-1.jpg" alt="">
                        </div>
                        <div class="gallery__source">
                            <img src="../images/instagramm.png" alt="" class="gallery__source-img">
                            <a href="#" class="gallery__source-where">Смотреть в Instagram</a>
                        </div>
                    </div>
                </div>
                <div class="class__slide-place">
                    <div class="gallery__slide">
                        <div class="gallery__image">
                            <img src="../images/gallery-1.jpg" alt="">
                        </div>
                        <div class="gallery__source">
                            <img src="../images/instagramm.png" alt="" class="gallery__source-img">
                            <a href="#" class="gallery__source-where">Смотреть в Instagram</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button type="button" class="news-inn__closer"></button>
</div>