<div class="media">
    <div class="mbox">
        <div class="promo__header media__header">
            <h2>МЕДИА</h2>
            <div class="promo__baba media__baba">
                <img src="../images/baba-media.png" alt="baba">
            </div>
        </div>

        <div class="promo__torso media__torso">
            <div class="promo__right media__right">
                <div class="media__photos">
                    <span class="media__zagolovok">Фотоальбомы</span>
                    <div class="media__intro">
                        <div class="media__all">
                            <div class="media__row">
                                <div class="news__img-box media__img-box">
                                    <img class="news__img-large" src="../images/for-news-1.jpg" alt="">
                                    <a href="#">Дубай</a>
                                </div>
                                <div class="news__img-box media__img-box">
                                    <img class="news__img-large" src="../images/for-news-1.jpg" alt="">
                                    <a href="#">Майами</a>
                                </div>
                            </div>
                            <div class="media__row">
                                <div class="news__img-box media__img-box">
                                    <img class="news__img-large" src="../images/for-news-1.jpg" alt="">
                                    <a href="#">Екатеринбург</a>
                                </div>
                                <div class="news__img-box media__img-box">
                                    <img class="news__img-large" src="../images/for-news-1.jpg" alt="">
                                    <a href="#">Москва</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="media__gather">
                        <a href="#">Все фотоальбомы</a> <span class="media__count">14</span>
                    </div>
                </div>
                <div class="promo__row media__place--right">
                    <div class="media__songs">
                        <span class="media__zagolovok">Музыка Бабы-Яги</span>
                        <img src="../images/notes.png" alt="">
                        <div class="media__tracks">
                            <div class="media__track">
                                <div class="media__track-img">
                                    <img src="../images/oblozh.jpg" alt="">
                                </div>
                                <button type="button" class="media__play active"></button>
                                <p>Новогодняя сумасшедшая<span>3:21</span></p>
                            </div>
                            <div class="media__track">
                                <div class="media__track-img">
                                    <img src="../images/oblozh2.jpg" alt="">
                                </div>
                                <button type="button" class="media__play"></button>
                                <p>Душевная<span>3:21</span></p>
                            </div>
                            <div class="media__track">
                                <div class="media__track-img">
                                    <img src="../images/oblozh3.jpg" alt="">
                                </div>
                                <button type="button" class="media__play"></button>
                                <p>Замысловатая<span>3:21</span></p>
                            </div>
                        </div>
                        <div class="media__gather">
                            <a href="#">Все песни</a> <span class="media__count">7</span>
                        </div>

                    </div>

                </div>

                <div class="promo__row media__place">
                    <div class="promo__product--big media__video">
                        <div class="media__vid-body">
                            <span class="media__zagolovok media__zagolovok--white">Видео</span>
                            <div class="media__gather">
                                <a href="#">Все видео</a> <span class="media__count">132</span>
                            </div>
                        </div>

                        <img src="../images/all-video.jpg" alt="videos">
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>