<div class="promo">
    <div class="mbox">
        <div class="promo__header">
            <h2>МЕДИА</h2>
            <!--<div class="promo__baba">-->
                <!--<img src="../images/baba-promo.png" alt="baba">-->
            <!--</div>-->
        </div>
        <div class="promo__torso media__torso">
            <div class="list">
                <div class="list__left">
                    <div class="list__block">
                        <div class="list__title">
                            <h4 class="media__zagolovok">Фотоальбомы</h4>
                        </div>
                        <div class="list__content">
                            <div class="news__img-box media__img-box list__img-box">
                                <img class="news__img-large" src="../images/media-inn-1.jpg" alt="">
                                <a href="#">Дубай</a>
                            </div>
                            <div class="news__img-box media__img-box list__img-box">
                                <img class="news__img-large" src="../images/media-inn-1.jpg" alt="">
                                <a href="#">Дубай</a>
                            </div>
                            <div class="news__img-box media__img-box list__img-box">

                            </div>
                            <div class="news__img-box media__img-box list__img-box">
                                <img class="news__img-large" src="../images/media-inn-1.jpg" alt="">
                                <a href="#">Дубай</a>
                            </div>
                            <div class="news__img-box media__img-box list__img-box">
                                <img class="news__img-large" src="../images/media-inn-1.jpg" alt="">
                                <a href="#">Дубай</a>
                            </div>
                            <div class="news__img-box media__img-box list__img-box">

                            </div>
                            <div class="news__img-box media__img-box list__img-box">
                                <img class="news__img-large" src="../images/media-inn-1.jpg" alt="">
                                <a href="#">Дубай</a>
                            </div>
                            <div class="news__img-box media__img-box list__img-box">
                                <img class="news__img-large" src="../images/media-inn-1.jpg" alt="">
                                <a href="#">Дубай</a>
                            </div>
                            <div class="news__img-box media__img-box list__img-box">

                            </div>
                            <div class="news__img-box media__img-box list__img-box">
                                <img class="news__img-large" src="../images/media-inn-1.jpg" alt="">
                                <a href="#">Дубай</a>
                            </div>
                            <div class="news__img-box media__img-box list__img-box">
                                <img class="news__img-large" src="../images/media-inn-1.jpg" alt="">
                                <a href="#">Дубай</a>
                            </div>
                            <div class="news__img-box media__img-box list__img-box">

                            </div>
                            <div class="news__img-box media__img-box list__img-box">
                                <img class="news__img-large" src="../images/media-inn-1.jpg" alt="">
                                <a href="#">Дубай</a>
                            </div>
                            <div class="news__img-box media__img-box list__img-box">
                                <img class="news__img-large" src="../images/media-inn-1.jpg" alt="">
                                <a href="#">Дубай</a>
                            </div>
                            <div class="news__img-box media__img-box list__img-box">
                                <img class="news__img-large" src="../images/media-inn-1.jpg" alt="">
                                <a href="#">Дубай</a>
                            </div>
                            <div class="list__img-box list__img-box--last">
                                <span>Больше фото в<a href="#">нашем профиле</a></span>
                                <img src="../images/instagramm.png" alt="">
                            </div>

                        </div>
                    </div>
                    <div class="list__block">
                        <div class="list__title">
                            <h4 class="media__zagolovok">Музыка</h4>
                        </div>
                        <div class="list__content">
                            <div class="list__music-wrap">
                                <div class="list__music">
                                    <div class="media__track list__track">
                                        <div class="media__track-img">
                                            <img src="../images/oblozh.jpg" alt="">
                                        </div>
                                        <button type="button" class="media__play active"></button>
                                        <p>Новогодняя сумасшедшая<span>3:21</span></p>
                                    </div>
                                    <div class="media__track list__track">
                                        <div class="media__track-img">
                                            <img src="../images/oblozh2.jpg" alt="">
                                        </div>
                                        <button type="button" class="media__play"></button>
                                        <p>Душевная<span>3:21</span></p>
                                    </div>
                                    <div class="media__track list__track">
                                        <div class="media__track-img">
                                            <img src="../images/oblozh3.jpg" alt="">
                                        </div>
                                        <button type="button" class="media__play"></button>
                                        <p>Замысловатая<span>3:21</span></p>
                                    </div>
                                    <div class="media__track list__track">
                                        <div class="media__track-img">
                                            <img src="../images/oblozh3.jpg" alt="">
                                        </div>
                                        <button type="button" class="media__play"></button>
                                        <p>Замысловатая<span>3:21</span></p>
                                    </div>
                                    <div class="media__track list__track">
                                        <div class="media__track-img">
                                            <img src="../images/oblozh3.jpg" alt="">
                                        </div>
                                        <button type="button" class="media__play"></button>
                                        <p>Замысловатая<span>3:21</span></p>
                                    </div>
                                </div>
                                <div class="list__about-music">
                                    <p>Бабушка ездит по миру да песни поет. Складные и ладные, всем на зависть да на радость. Песни русские доступны на Гугл Плее и Айтюнсе. Заходи
                                        да качай себе в плееры.</p>
                                    <div class="promo__apps list__apps">
                                        <div class="promo__app list__app">
                                            <div class="promo__aplicates">
                                                <a href="#" class="promo__app--apple"><img src="../images/appstore.png" alt="app"></a>
                                                <a href="#" class="promo__app--google"><img src="../images/googleapp.png" alt="google"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="list__block">
                        <div class="list__title">
                            <h4 class="media__zagolovok">Видео</h4>
                        </div>
                        <div class="list__content">
                            <div class="promo__product--big list__video">
                                <img src="../images/all-video.jpg" alt="videos">
                                <a href="#">Баба Яга на Miami Art Week 2017</a>
                                <p>15:45</p>
                            </div>
                            <div class="promo__product--big list__video">
                                <img src="../images/all-video.jpg" alt="videos">
                                <a href="#">Баба Яга на Miami Art Week 2017</a>
                                <p>15:45</p>
                            </div>
                            <div class="promo__product--big list__video">
                                <img src="../images/all-video.jpg" alt="videos">
                                <a href="#">Баба Яга на Miami Art Week 2017</a>
                                <p>15:45</p>
                            </div>
                            <div class="promo__product--big list__video">
                                <img src="../images/all-video.jpg" alt="videos">
                                <a href="#">Баба Яга на Miami Art Week 2017</a>
                                <p>15:45</p>
                            </div>
                            <div class="list__blocks">
                                <div class="news__block">
                                    <div class="news__img-box">
                                        <img class="news__img-large" src="../images/for-news-1.jpg" alt="">
                                    </div>
                                    <a href="#" class="news__sensation">Жителей Екатеринбурга шокировала Баба Яга в ступе</a>
                                    <p>8 февраля</p>
                                </div>
                                <div class="news__block">
                                    <div class="news__img-box">
                                        <img class="news__img-large" src="../images/for-news-1.jpg" alt="">
                                    </div>
                                    <a href="#" class="news__sensation">Жителей Екатеринбурга шокировала Баба Яга в ступе</a>
                                    <p>8 февраля</p>
                                </div>
                                <div class="news__block">
                                    <div class="news__img-box">
                                        <img class="news__img-large" src="../images/for-news-1.jpg" alt="">
                                    </div>
                                    <a href="#" class="news__sensation">Жителей Екатеринбурга шокировала Баба Яга в ступе</a>
                                    <p>8 февраля</p>
                                </div>
                                <div class="news__block">
                                    <div class="news__img-box">
                                        <img class="news__img-large" src="../images/for-news-1.jpg" alt="">
                                    </div>
                                    <a href="#" class="news__sensation">Жителей Екатеринбурга шокировала Баба Яга в ступе</a>
                                    <p>8 февраля</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list__right">
                    <ul>
                        <li><a href="">Фотоальбомы</a></li>
                        <li><a href="">Музыка</a></li>
                        <li><a href="">Видео</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
