<div class="news-inn">
    <div class="mbox mbox__inn">
        <h4>Баба Яга на Miami Art Week 2017</h4>
        <p class="news-inn__date">2 февраля</p>
        <p class="news-inn__text">
            Баба-яга из Екатеринбурга стала настоящей звездой Сети. Ролик с ее путешествиями по городам России и мира собрал более 80 млн просмотров. Сказочный персонаж в ноябре появился на музыкальном фестивале в Дубае. Она вышла на сцену со знаменитыми артистами. После чего взяла курс на США и появилась на Miami Art Week. Она проехалась по улицам Майами. А на самой выставке современного искусства автор проекта Ирина Лагошина представила скульптуру "супергероя". Баба-яга на лавочке стала самым большим арт-объектом.
        </p>
        <div class="news-inn__img-place">
            <img src="../images/news-inn-1.jpg" alt="">
        </div>
        <p class="news-inn__text">
            "В своем проекте Super Hero, который был представлен на Miami Art Week, я попыталась разрушить стереотипы о России. В проекте прослеживается аналогия с современной политической ситуацией: образ России в международном информационном пространстве предстаёт столь же пугающим и агрессивным, как образ Бабы-яги. Однако за этой внешностью скрываются мудрость, древняя история и такие положительные черты русского характера, как внутренняя сила, выносливость, щедрость и стремление к справедливости", — рассказала автор скульптуры.
        </p>
        <p class="news-inn__text">
            Посетители выставки активно фотографировались с русским экспонатом. Американцы настолько полюбили скульптуру, что Баба-яга поселилась на улице в Майами — теперь она радует туристов и местных жителей.
        </p>
        <div class="news-inn__img-place">
            <img src="../images/news-inn-2.jpg" alt="">
        </div>

        <div class="news-inn__slider-wrap">
            <div class="news-inn__slider js-news-inn-slider">
                <div class="news-inn__slide">
                    <a href="#"><img src="../images/news-inn-slide.jpg" alt=""></a>
                </div>
                <div class="news-inn__slide">
                    <a href="#"><img src="../images/news-inn-slide.jpg" alt=""></a>
                </div>
                <div class="news-inn__slide">
                    <a href="#"><img src="../images/news-inn-slide.jpg" alt=""></a>
                </div>
                <div class="news-inn__slide">
                    <a href="#"><img src="../images/news-inn-slide.jpg" alt=""></a>
                </div>
                <div class="news-inn__slide">
                    <a href="#"><img src="../images/news-inn-slide.jpg" alt=""></a>
                </div>
                <div class="news-inn__slide">
                    <a href="#"><img src="../images/news-inn-slide.jpg" alt=""></a>
                </div>
                <div class="news-inn__slide">
                    <a href="#"><img src="../images/news-inn-slide.jpg" alt=""></a>
                </div>
            </div>
        </div>
        <p class="news-inn__text">
            Кстати, аналогичный памятник был установлен этим летом и в Екатеринбурге.
        </p>
        <div class="news-inn__img-place">
            <img src="../images/news-inn-3.jpg" alt="">
        </div>
        <p class="news-inn__date">Источник</p>
        <a href="#" class="news-inn__source">http://ren.tv/novosti/2017-12-28/russkiy-otvet-amerikanskim-supergeroyam-baba-yaga-iz-ekaterinburga-zahvatyvaet</a>

    </div>
    <button type="button" class="news-inn__closer"></button>
</div>
