<div class="news">
    <div class="mbox">
        <div class="promo__header">
            <h2>НОВОСТИ</h2>
            <div class="promo__baba news__baba">
                <img src="../images/baba-news.png" alt="baba">
            </div>
        </div>

        <div class="promo__torso">
            <div class="promo__right">
                <div class="promo__row news__row">
                    <div class="news__block">
                        <div class="news__img-box">
                            <img class="news__img-large" src="../images/for-news-1.jpg" alt="">
                        </div>
                        <a href="#" class="news__sensation">Жителей Екатеринбурга шокировала Баба Яга в ступе</a>
                        <p>8 февраля</p>
                        <a href="#" class="news__img-little">
                            <img src="../images/channel-5.png" alt="">
                        </a>
                    </div>
                    <div class="news__block news__block--down">
                        <a href="" class="news__journal">
                            <span>Большая статья в журнале</span>
                            <div class="news__source">
                                <img src="../images/esquire.png" alt="">
                            </div>
                            <p>4 февраля</p>
                        </a>
                    </div>
                    <div class="news__block">
                        <div class="news__img-box">
                            <img class="news__img-large" src="../images/for-news-2.jpg" alt="">
                            <div class="news__hot">
                                <img src="../images/hot.png" alt="">
                            </div>
                        </div>
                        <a href="#" class="news__sensation">Поп-культура Запада против советского кино: в Екатеринбурге разгорелся скандал вокруг памятника Бабе-яге</a>
                        <p>13 января</p>
                        <a href="#" class="news__img-little">
                            <img src="../images/66.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="promo__row news__row">
                    <div class="news__block news__block--big">
                        <div class="news__video">
                            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/XQzB1seeyqs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen> </iframe>
                        </div>
                        <a href="#">Баба Яга на Miami Art Week 2017</a>
                        <p>12 декабря 2017</p>
                    </div>
                    <div class="news__block news__block--down">
                        <a href="#" class="news__journal">
                            <span>Большое интервью со звездами в честь большого по значимости выпуска журнала</span>
                            <div class="news__source">
                                <img src="../images/elle.png" alt="">
                            </div>
                            <p>4 февраля 2017</p>
                        </a>
                    </div>
                </div>
                <div class="promo__row news__row">
                    <div class="news__block">
                        <div class="news__img-box">
                            <img class="news__img-large" src="../images/for-news-3.jpg" alt="">
                        </div>
                        <a href="#" class="news__sensation">Поп-культура Запада против
                            советского кино: в Екатеринбурге
                            разгорелся скандал вокруг
                            памятника Бабе-яге</a>
                        <p>13 января</p>
                        <a href="#" class="news__img-little">
                            <img src="../images/stars.jpg" alt="">
                        </a>
                    </div>
                    <div class="news__block news__block--down">
                        <div class="news__img-box">
                            <img class="news__img-large" src="../images/hey.jpg" alt="">
                        </div>
                        <a href="#" class="news__sensation">Жителей Екатеринбурга шокировала Баба Яга в ступе</a>
                        <p>8 февраля</p>
                        <a href="#" class="news__img-little">
                            <img src="../images/paparazi.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="promo__row news__row">
                    <div class="news__block news__block--down">
                        <a href="" class="news__journal">
                            <span>Женщина года по версии</span>
                            <div class="news__source">
                                <img src="../images/cq.png" alt="">
                            </div>
                            <p>4 февраля</p>
                        </a>
                    </div>
                    <div class="news__block news__block--big">
                        <div class="news__video">
                            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/XQzB1seeyqs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen> </iframe>
                        </div>
                        <a href="#">Баба Яга на Miami Art Week 2017</a>
                        <p>12 декабря 2017</p>
                    </div>
                </div>

                <div class="promo__button-place">
                    <a href="#" class="button promo__button"><span>Все новости</span></a>
                </div>

            </div>
        </div>

    </div>
</div>