<div class="promo">
    <div class="mbox">
        <div class="promo__header">
            <h2>НОВОСТИ</h2>
            <!--<div class="promo__baba">-->
            <!--<img src="../images/baba-promo.png" alt="baba">-->
            <!--</div>-->
        </div>
        <div class="promo__torso media__torso">
            <div class="list">
                <div class="list__left">
                    <div class="list__block">
                        <div class="list__title">
                            <h4 class="media__zagolovok">2018</h4>
                        </div>
                        <div class="list__content">
                            <div class="promo__row news__row">
                                <div class="news__block">
                                    <div class="news__img-box">
                                        <img class="news__img-large" src="../images/for-news-1.jpg" alt="">
                                    </div>
                                    <a href="#" class="news__sensation">Жителей Екатеринбурга шокировала Баба Яга в ступе</a>
                                    <p>8 февраля</p>
                                    <a href="#" class="news__img-little">
                                        <img src="../images/channel-5.png" alt="">
                                    </a>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="list__right">
                    <ul>
                        <li><a href="">2018</a></li>
                        <li><a href="">2017</a></li>
                        <li><a href="">2016</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
