<div class="promo">
    <div class="mbox">
        <div class="promo__header">
            <h2>ПРОМО</h2>
            <!--<div class="promo__baba">-->
            <!--<img src="../images/baba-promo.png" alt="baba">-->
            <!--</div>-->
        </div>
        <div class="promo__torso media__torso">
            <div class="list">
                <div class="list__left">
                    <div class="list__block">
                        <div class="list__title">
                            <h4 class="media__zagolovok">Футболки</h4>
                        </div>
                        <div class="list__content">
                            <div class="products__row">
                                <div class="products__col">
                                    <div class="products__box">
                                        <div class="products__img-box">
                                            <img src="../images/t-shirt.png" alt="">
                                        </div>
                                        <a href="#">Бабушка черно-белая </a>
                                    </div>
                                    <div class="products__box">
                                        <div class="products__img-box">
                                            <img src="../images/t-shirt-2.jpg" alt="">
                                        </div>
                                        <a href="#">Цветная веселая </a>
                                    </div>
                                    <div class="products__box">
                                        <div class="products__img-box">
                                            <img src="../images/t-shirt-2.jpg" alt="">
                                        </div>
                                        <a href="#">Цветная веселая </a>
                                    </div>
                                    <div class="products__box">
                                        <div class="products__img-box">
                                            <img src="../images/t-shirt-2.jpg" alt="">
                                        </div>
                                        <a href="#">Цветная веселая </a>
                                    </div>
                                </div>
                                <div class="products__col">
                                    <div class="products__box products__box--big">
                                        <div class="products__img-box">
                                            <img src="../images/t-shirt-big.jpg" alt="">
                                        </div>
                                        <a href="#">Большая футболка </a>
                                    </div>
                                </div>
                            </div>
                            <div class="products__row">
                                <div class="products__col">
                                    <div class="products__box">
                                        <div class="products__img-box">
                                            <img src="../images/t-shirt-2.jpg" alt="">
                                        </div>
                                        <a href="#">Цветная веселая </a>
                                    </div>
                                    <div class="products__box">
                                        <div class="products__img-box">
                                            <img src="../images/t-shirt-2.jpg" alt="">
                                        </div>
                                        <a href="#">Цветная веселая </a>
                                    </div>
                                </div>
                                <div class="products__col">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list__block">
                        <div class="list__title">
                            <h4 class="media__zagolovok">Кепки</h4>
                        </div>
                        <div class="list__content">
                            <div class="products__row">
                                <div class="products__col">
                                    <div class="products__box products__box--big">
                                        <div class="products__img-box">
                                            <img src="../images/kepka-big.jpg" alt="">
                                        </div>

                                        <a href="#">Большая футболка </a>
                                    </div>
                                </div>
                                <div class="products__col">
                                    <div class="products__box">
                                        <div class="products__img-box">
                                            <img src="../images/kepka-small.jpg" alt="">
                                        </div>
                                        <a href="#">Большая футболка </a>
                                    </div>
                                    <div class="products__box">
                                        <div class="products__img-box">
                                            <img src="../images/kepka-small.jpg" alt="">
                                        </div>
                                        <a href="#">Большая футболка </a>
                                    </div>
                                    <div class="products__box">
                                        <div class="products__img-box">
                                            <img src="../images/kepka-small.jpg" alt="">
                                        </div>
                                        <a href="#">Большая футболка </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list__block">
                        <div class="list__title">
                            <h4 class="media__zagolovok">Канцелярия</h4>
                        </div>
                        <div class="list__content">
                            <div class="products__row">
                                <div class="products__col">
                                    <div class="products__box">
                                        <div class="products__img-box">
                                            <img src="../images/spider.jpg" alt="">
                                        </div>
                                        <a href="#">Большая футболка </a>
                                    </div>
                                    <div class="products__box">
                                        <div class="products__img-box">
                                            <img src="../images/spider.jpg" alt="">
                                        </div>
                                        <a href="#">Большая футболка </a>
                                    </div>
                                    <div class="products__box">
                                        <div class="products__img-box">
                                            <img src="../images/spider.jpg" alt="">
                                        </div>
                                        <a href="#">Большая футболка </a>
                                    </div>
                                    <div class="products__box">
                                        <div class="products__img-box">
                                            <img src="../images/spider.jpg" alt="">
                                        </div>
                                        <a href="#">Большая футболка </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list__block">
                        <div class="list__title">
                            <h4 class="media__zagolovok">Значки</h4>
                        </div>
                        <div class="list__content">
                            <div class="products__row">
                                <div class="products__col">
                                    <div class="products__box">
                                        <div class="products__img-box">
                                            <img src="../images/znak-3.jpg" alt="">
                                        </div>
                                        <a href="#">Большая футболка </a>
                                    </div>
                                    <div class="products__box">
                                        <div class="products__img-box">
                                            <img src="../images/znak-2.jpg" alt="">
                                        </div>
                                        <a href="#">Большая футболка </a>
                                    </div>
                                    <div class="products__box">
                                        <div class="products__img-box">
                                            <img src="../images/znak-1.jpg" alt="">
                                        </div>
                                        <a href="#">Большая футболка </a>
                                    </div>
                                    <div class="products__box">
                                        <div class="products__img-box">
                                            <img src="../images/spider.jpg" alt="">
                                        </div>
                                        <a href="#">Большая футболка </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list__right">
                    <ul>
                        <li><a href="">Футболки</a></li>
                        <li><a href="">Кепки</a></li>
                        <li><a href="">Канцелярия</a></li>
                        <li><a href="">Значки</a></li>
                        <li><a href="">Книги</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
