<div class="new-inn gallery products">
    <div class="mbox mbox--inn">
        <div class="products__slider-wrap">
            <div class="products__left-part">
                <div class="products__slider js-products-slider">
                    <div class="products__slide">
                        <div class="products__view">
                            <img src="../images/slide-tshirt.jpg" alt="">
                        </div>
                    </div>
                    <div class="products__slide">
                        <div class="products__view">
                            <img src="../images/for-news-2.jpg" alt="">
                        </div>
                    </div>
                    <div class="products__slide">
                        <div class="products__view">
                            <img src="../images/t-shirt-big.jpg" alt="">
                        </div>
                    </div>
                    <div class="products__slide">
                        <div class="products__view">
                            <img src="../images/slide-tshirt.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="products__right-part">
                <div class="products__about">
                    <h4>Другая футболка с Бабой Ягой</h4>
                    <div class="products__row-txt">
                        <p>Состав</p>
                        <span>100% органический хлопок</span>
                    </div>
                    <div class="products__row-txt">
                        <p>Размеры</p>
                        <span>XS-XXL</span>
                    </div>
                    <div class="products__row-txt">
                        <p>Ворот</p>
                        <span>Круглый</span>
                    </div>
                    <div class="products__row-txt">
                        <p>Цвет</p>
                        <span>Фиолетовый</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="promo__button-place products__button-place">
            <a href="#" class="button promo__button"><span>Купить в Галамарте</span></a>
        </div>

    </div>
    <button type="button" class="news-inn__closer"></button>
</div>