<div class="promo">
    <div class="mbox">
        <div class="promo__header">
            <h2>ПРОМО</h2>
        </div>
        <div class="promo__torso">
            <div class="promo__left">
                <div class="promo__baba">
                    <img src="../images/baba-promo.png" alt="baba">
                </div>
            </div>
            <div class="promo__right">
                <div class="promo__content">
                    <div class="promo__app">
                        <p>Приложения</p>
                        <div class="promo__aplicates">
                            <a href="#"><img src="../images/appstore.png" alt="app"></a>
                            <a href="#"><img src="../images/googleapp.png" alt="google"></a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
